.avatar {
  text-align: center;
}
.avatar-img {
  margin-top: 13.7px;
  width: 57px;
  height: 57px;
  object-fit: cover;
  border-radius: 50%;
}
.avatar-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 11.9351px;
  line-height: 157%;
  text-align: center;
}
