.home {
  position: relative;
  min-height: 895px;
  padding: 175px 0px;
}

.home-content {
  max-width: 440px;
}
.home-heading {
  color: #01996d;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 65px;
  margin-bottom: 30px;
}

.home-heading + * {
  margin-top: 30px;
}

.home-text {
  font-size: 20px;
  color: #484848;
  line-height: 144.5%;
  margin-bottom: 53px;
  max-width: 430px;
}

.home-text + * {
  margin-top: 53px;
}

.home-btn {
  display: flex;
}

.btn:hover,
a.btn.btn:hover {
  opacity: 0.8;
  color: #ffffff;
}

.home-bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: white;
}
.home-bg-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 991px) {
  .home {
    min-height: unset;
    padding: 40px 0px;
  }
  .home-bg-img {
    opacity: 0.5;
  }
  .home-heading {
    font-size: 45px;
    line-height: 1.2;
  }
  .home-text + * {
    margin-top: 30px;
  }
}

@media (max-width: 415px) {
  .home-bg-img {
    opacity: 0.5;
  }
  .home {
    min-height: unset;
    padding: 40px 0px;
  }

  .home-heading {
    font-size: 45px;
    line-height: 1.2;
  }
  .home-text + * {
    margin-top: 30px;
  }
}
